body{      


        

background-color: rgb(39, 230, 166);
margin-right: 20%;
margin-left: 20%;
border-width: 2px;
border-style: solid;
border-color: rgb(123, 53, 194);










}